@page
@model FabolousUI.Pages.Park.CreateMotorcykleModel


<form method="post">
    <div class="border p-3 mt-4 col-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="@Model.myMc.Parkingspot" value="@Model.Id" />
        <input type="hidden" asp-for="@Model.myMc.StartTime" value="@DateTime.Now" />
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Motorcykle</h2>
            <hr />
        </div>
        <div class="container col-8">
            @*<div asp-validation-summary="ModelOnly"></div>*@
            <div class="mb-3">
                <label asp-for="@Model.myMc.Registration"></label>
                <input asp-for="@Model.myMc.Registration" class="form-control" />
                @*<span asp-validation-for=@Model.Category.Name class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <label asp-for="@Model.myMc.Size"></label>
                <input asp-for="@Model.myMc.Size" class="form-control" value="" />
                @*<span asp-validation-for=@Model.Category.DisplayOrder class="text-danger"></span>*@
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        </div>
    </div>
</form>